{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}Nega From Zero ?{% endblock %}
<div class="responsive-mobile-menu">
	<a href="#" title="" class="close-menu"><i class="ion-close"></i></a>
	<ul>
		<li><a class="home" href="\" title="">Asosiy</a>
			<!-- <ul>
				<li><a href="index.html" title="">Homepage 1</a></li>
				<li><a href="index2.html" title="">Homepage 2</a></li>
				<li><a href="index3.html" title="">Homepage 3</a></li>
			</ul> -->
		</li>
		<li><a class="{{works}}" href="{% url 'works' %}" title="">Ishlarimiz</a>
			<!-- <ul>
				<li><a href="{% url 'works' %}" title="">Work Grid</a></li>
				<li><a href="work-masonary.html" title="">Work Masonary</a></li>
				<li><a href="works-parallax.html" title="">Works Parallax</a></li>
				<li><a href="project-details.html" title="">Project Details</a></li>
			</ul> -->
		</li>
		<li><a class="{{news}}" href="{% url 'news' %}" title="">Yangiliklar</a>
			<!-- <ul>
				<li><a href="{% url 'news' %}" title="">News Grid</a></li>
				<li><a href="news-listing.html" title="">News Listing</a></li>
				<li><a href="news-sidebar.html" title="">News Sidebar</a></li>
			</ul> -->
		</li>
		<!-- <li><a href="#" title="">Blog</a>
			<ul>
				<li><a href="single-post.html" title="">Single Post</a>
					<ul>
						<li><a href="single-post-gallery.html" title="">Single Post Gallery</a></li>
					</ul>
				</li>
				<li><a href="single-video.html" title="">Single Video</a></li>
			</ul>
		</li> -->
		<li><a class="{{about}}" href="{% url 'about' %}" title="">Biz Haqimizda</a></li>
		<li><a class="{{contact}}" href="{% url 'contact' %}" title="">Aloqa</a></li>
	</ul>
</div><!--responsive-mobile-menu end-->


<section>
	<div  class="block mt-5">
		<div class="container">
			<div class="about-us">
				<h3 1style="color: #ffa800;" class="heading-title">Nega aynan From Zero?</h3>
				<p>
					"From Zero" turar joy imoratlari va noturar joy binolarini barpo etishga ixtisoslashgan bo‘lib, mazkur soha rivojiga o‘zining ulkan hissasini qo‘shib kelmoqda. Mijozlarimizga g‘amxo‘rlik qilish, xizmatlarimizni doimiy ravishda rivojlantirish va takomillashtirish, shuningdek, professional mutaxassislardan iborat jamoani shakllantirish biznesimizning asosini tashkil etadi.</p>

	<p>Xodimlarimizga kamol topishi va rivojlanishi, sifatli binolar barpo etishi va o‘z xizmati bilan mijozlarimizga baxt ulashishi uchun barcha imkoniyatlarni taqdim etamiz. Biz va hamkorlarimiz bilan mamlakatimiz va xorijda qurilish sohasini taraqqiy ettirishga o‘z hissangizni qo‘shishingiz mumkin.</p>
 
	<p>Ko‘plab qiziqarli vazifalarni o‘z oldiga maqsad qilib qo‘ygan, tashabbuskorlik va faollikka intiluvchan jamoamizda karerangizni boshlashingiz uchun yaxshi imkoniyat mavjud.
				</p>
			</div><!--about-us end-->
		</div>
	</div><!--about-section end-->
</section>

<section>
	<div class="construct-info">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="construct-details">
						<h2>Insonlarga eng yaxshi <br> yechimni topishda<br>yordam beramiz.</h2>
					</div><!--construct-details end-->
				</div>
				<div class="col-lg-6">
					<div class="about-img">
						<img src="http://via.placeholder.com/570x403" alt="">
					</div><!--about-img end-->
				</div>
			</div>
		</div>
	</div><!--construct-info end-->
</section>

<section>
	<div class="block">
		<div class="container no-pd">
			<div class="title">
			</div><!--title end-->
			<div class="our-services">
			</div><!--our-services end-->
		</div>
	</div>
</section>



{% endblock %}