{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}Kompaniya haqida{% endblock %}

		


		<!-- <div class="responsive-mobile-menu">
			<a href="#" title="" class="close-menu"><i class="ion-close"></i></a>
			<ul>
				<li><a href="#" title="">Asosiy</a>
					<ul>
						<li><a href="index.html" title="">Homepage 1</a></li>
						<li><a href="index2.html" title="">Homepage 2</a></li>
						<li><a href="index3.html" title="">Homepage 3</a></li>
					</ul>
				</li>
				<li><a href="#" title="">Ishlarimiz</a>
					<ul>
						<li><a href="{% url 'works' %}" title="">Work Grid</a></li>
						<li><a href="work-masonary.html" title="">Work Masonary</a></li>
						<li><a href="works-parallax.html" title="">Works Parallax</a></li>
						<li><a href="project-details.html" title="">Project Details</a></li>
					</ul>
				</li>
				<li><a href="#" title="">YAngiliklar</a>
					<ul>
						<li><a href="{% url 'news' %}" title="">News Grid</a></li>
						<li><a href="news-listing.html" title="">News Listing</a></li>
						<li><a href="news-sidebar.html" title="">News Sidebar</a></li>
					</ul>
				</li>
				<li><a href="#" title="">Blog</a>
					<ul>
						<li><a href="single-post.html" title="">Single Post</a>
							<ul>
								<li><a href="single-post-gallery.html" title="">Single Post Gallery</a></li>
							</ul>
						</li>
						<li><a href="single-video.html" title="">Single Video</a></li>
					</ul>
				</li>
				<li><a href="{% url 'about' %}" title="">Biz Haqimizda</a></li>
				<li><a href="{% url 'contact' %}" title="">Aloqa</a></li>
			</ul>
		</div> -->



		<section>
			<div class="block3 mt-5">
				<div class="container">
					<div class="our-info-details">
						<div class="row">
							<div class="col-lg-4">
								<div class="our-info">
									<img src="/static/images/info-pic.png" alt="">
									<h2>10 yillik<br />Tajriba </h2>
									<p>Insonlarga eng yaxshi yechimni topishda yordam beramiz.</p>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="who-we-are">
									<h3 style="color: #ffa800;" class="sm-title">Kompaniya haqida</h3>
									<p style="color: #fff;">From Zero — O‘zbekistonda ko‘chmas mulk qurilishi sohasida faol ish olib boruvchi kompaniya. Faoliyatining asosiy yo‘nalishi ko‘pxonadonli uylar va shunga mos ijtimoiy infratuzilmani o‘z ichiga oluvchi uy-joy loyihalarini rivojlantirishdan iborat. Turar-joy majmualari individual me‘moriy konsepsiya bo‘yicha quriladi va turlicha daromadga ega keng auditoriya uchun mo‘ljallanadi.</p><br>

									<p style="color: #fff;">Biz developerlar sifatida binoni barpo etish jarayonining barcha bosqichlarida qatnashamiz: ob‘ektni loyihalashtirish, eski binolarni sotib olish, kelgusida ularni buzish va yangilarini qurish, sifatni nazorat qilish, sotish, shuningdek sotilgandan keyingi xizmatlarni ko‘rsatish.</p><br>
									<p style="color: #fff;">Bunday loyihalar boshqaruvi menejmentga taalluqli bo‘lib, bu kabi mashg‘ulotlar bilan shug‘ullanuvchi insonlar ko‘chmas mulk bozorini juda yaxshi bilishlari va unga diqqatlarini jalb qilgan bo‘lishlari lozim. Sababi faoliyatning bu turida yuqori daraja va sifatga erishish uchun muayyan bilim, malaka va tajriba talab etiladi. Muddatlar, xarajat va bajarilgan ish sifatining eng maqbul mutanosibligiga erishish developerning birinchi darajali vazifasi bo‘lib hisoblanadi.</p><br>
									
									<p style="color: #fff;">Quruvchilikka bo‘lgan mehr va ishtiyoq orqali birlashgan o‘zishining yosh va g‘ayratli ustalardan iborat yangi menejment jamoasini shakllantirib, biz bundan keyin ham bozor talablariga javob beruvchi yangi loyihalarni faxr bilan rivojlantirib borish uchun qat‘iyatga to‘ldik.
									</p><br>

									<p style="color: #fff;">Biz o‘zimizni Vatanimizning jonkuyar farzandlari deb bilamiz va uning ravnaqiga o‘z hissamizni qo‘ldan kelganicha qo‘shishga harakat qilib yashaymiz!</p>
									
								</div><!--who-we-are end-->
							</div>
						</div>
					</div><!--our-info3 end-->
				</div>
			</div>
		</section>



	

{% endblock %}