{% extends 'base.html' %} {% load static %} 
{% block title %} Bosh Sahifa {% endblock %}
{% block content %} 
<!-- <div class="responsive-mobile-menu">
	<a href="#" title="" class="close-menu"><i class="ion-close"></i></a>
	<ul>
		<li><a href="" title="">Asosiy</a>
			<ul>
				<li><a href="index.html" title="">Homepage 1</a></li>
				<li><a href="index2.html" title="">Homepage 2</a></li>
				<li><a href="index3.html" title="">Homepage 3</a></li>
			</ul>
		</li>
		<li><a href="#" title="">Ishlarimiz</a>
			<ul>
				<li><a href="{% url 'works' %}" title="">Work Grid</a></li>
				<li><a href="work-masonary.html" title="">Work Masonary</a></li>
				<li><a href="works-parallax.html" title="">Works Parallax</a></li>
				<li><a href="project-details.html" title="">Project Details</a></li>
			</ul>
		</li>
		<li><a href="#" title="">YAngiliklar</a>
			<ul>
				<li><a href="{% url 'news' %}" title="">News Grid</a></li>
				<li><a href="news-listing.html" title="">News Listing</a></li>
				<li><a href="news-sidebar.html" title="">News Sidebar</a></li>
			</ul>
		</li>
		<li><a href="#" title="">Blog</a>
			<ul>
				<li><a href="single-post.html" title="">Single Post</a>
					<ul>
						<li><a href="single-post-gallery.html" title="">Single Post Gallery</a></li>
					</ul>
				</li>
				<li><a href="single-video.html" title="">Single Video</a></li>
			</ul>
		</li>
		<li><a href="{% url 'about' %}" title="">Biz Haqimizda</a></li>
		<li><a href="{% url 'contact' %}" title="">Aloqa</a></li>
	</ul>
</div> -->

<!--responsive-mobile-menu end-->

<section class="main-slider style2">
  <div class="container">
    <div
      id="rev_slider_476_1_wrapper"
      class="rev_slider_wrapper fullscreen-container"
      data-alias="christmas-snow-scene"
      data-source="gallery"
      style="background-color: transparent; padding: 0px"
    >
      <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
      <div
        id="rev_slider_476_1"
        class="rev_slider"
        style="display: none"
        data-version="5.3.0.2"
      >
        <ul>
          <!-- SLIDE  -->
          <li
            data-index="rs-1648"
            data-transition="fade"
            data-slotamount="default"
            data-hideafterloop="0"
            data-hideslideonmobile="off"
            data-easein="default"
            data-easeout="default"
            data-masterspeed="1000"
            data-thumb="images/slider_banner.jpg"
            data-rotate="0"
            data-saveperformance="off"
            data-title="Slide"
            data-param1=""
            data-param2=""
            data-param3=""
            data-param4=""
            data-param5=""
            data-param6=""
            data-param7=""
            data-param8=""
            data-param9=""
            data-param10=""
            data-description=""
          >
            <!-- MAIN IMAGE -->
            <img
              src="{{banner.image.url}}"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              data-bgparallax=""
              class="rev-slidebg"
              data-no-retina
            />
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div
              class="tp-caption lyr3 tp-resizeme"
              id="slide-1648-layer-1"
              data-x="center"
              data-hoffset="0"
              data-y="center"
              data-voffset="-200"
              data-width="['auto']"
              data-height="['auto']"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[15,15,15,15]"
              data-paddingleft="[0,0,0,0]"
              data-start="200"
              data-splitin="chars"
              data-splitout="none"
              data-elementdelay="0.04"
            >
              {{banner.title|safe}}
              <!-- “ Biz qurgan yaxshi narsalar <br />
              oxir-oqibat bizni quradi ” -->
            </div>

            <!-- LAYER NR. 2 -->
            <!-- LAYER NR. 3 -->
          </li>
        </ul>
      </div>
    </div>
    <!--Revolution Slider end-->
    <div class="cntct-info">
      <div class="container">
        <div class="cntct-info-details">
          <div class="our-addrs-info">
            <ul>
              <li>
                Email:
                <strong><a href="mailto:fromzero.uz@gmail.com">fromzero.uz@gmail.com</a></strong>
              </li>
              <li>
                Telefon:
                <strong class="scnd text-white"
                  ><a href="tel:+998 67 236 35 33"
                    >+998 67 236 35 33</a
                  >
                </strong>
              </li>
            </ul>
          </div>
          <!--our-addrs-info end-->
          <div class="soc-links">
            <ul>
              <li>Bizni kuzatib boring:</li>
              <li>
                <a target="_blank" href="https://t.me/fromzero_uz" title=""
                  ><i class="fa fa-telegram"></i
                ></a>
              </li>
              <!-- <li>
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#" title=""><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#" title=""><i class="fa fa-rss"></i></a>
              </li> -->
            </ul>
          </div>
        </div>
        <!--cntct-info-details end-->
      </div>
    </div>
    <!--cntct-info end-->
  </div>
</section>
<!--main-slider end-->

<main>
  <section class="mg-top-minus">
    <div class="container3">
      <div class="block">
        <div class="fixed-bg bg2"></div>
        <div class="why-choose-us">
          <div class="title-sm">
            <h3>Bizni tanlashingizga sabablar</h3>
          </div>
          <!--title-sm end-->
          <div class="our-specifications">
            <div class="row">
              <div class="col-lg-6">
                <div class="spec-hd">
                  <h2>
                    Mijozlarimiz uchun adolatli va bozor raqobatbardosh
                    narxlarda yuqori sifatli qurilish xizmatlarini ko'rsatish.
                  </h2>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="properties">
                  <div class="choosing-que">
                    <h3>Kasbiy javobgarlik</h3>
                    <p>
                      Donec lacinia mi rutrum sagittis consequat. Donec
                      sagittis, tellus sodales sollicitudin commodo
                    </p>
                  </div>
                  <!--choosing-que end-->
                  <div class="choosing-que">
                    <h3>Mijozlarimizga bag'ishlangan</h3>
                    <p>
                      Quisque mollis metus magna, ut <br />accumsan elit
                      hendrerit ac. Lorem ipsum dolor sit amet,
                    </p>
                  </div>
                  <!--choosing-que end-->
                  <div class="choosing-que">
                    <h3>Ajoyib xizmatlar</h3>
                    <p>
                      lacinia mi rutrum sagittis consequat. Donec sagittis,
                      tellus sodales sollicitudin commodo, risus urna interdum
                      massa
                    </p>
                  </div>
                  <!--choosing-que end-->
                </div>
                <!--properties end-->
              </div>
            </div>
          </div>
          <!--our-specifications end-->
        </div>
        <!--why-choose-us end-->
      </div>
    </div>
  </section>

  <section>
    <div class="container3">
      <div class="block">
        <div class="our-projects-counter">
          <ul>
            <li>
              <h2 class="counter">2012</h2>
              <h4>Barpo etilgan yili</h4>
            </li>
            <li>
              <h2 class="counter">11</h2>
              <h4>Loyiha</h4>
            </li>
            <li>
              <h2 class="counter">266</h2>
              <h4>Sotilgan xonadonlar</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


</main>
<section >
  <div class="block" id="our_works">
    <div class="portfolio-sec">
      <div  class="title-sm">
        <h2 style="color: white;
        font-weight: bold;">Loyihalar</h2>
      </div>
      <div class="container">
        <div class="portfolio-items-filter">
  
          <div class="portfolio-grid">
            <div class="row">
              <div class="masonary style2">
                <div class="d-flex flex-wrap">
                  {% for i in our_works %}
                  <a href="{% url 'work_details' pk=i.id %}">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="portfolio-item">
                      <div class="pt-img">
                        <img src="/media/{{i.photo}}" alt="">
                      </div>
                      <div class="item-info">
                        <span>Residentials</span>
                        <h3><a href="{% url 'work_details' pk=i.id %}" title="">{{i.title}}</a></h3>
                      </div>
                    </div><!--portfolio-item end-->
                  </div>
                  </a>
                 
                  
                  {%  endfor %}
                </div>
              </div><!--masonary end-->
              <div class="load-more-items mb-5">
                <a href="{% url 'works' %}" title="">Boshqa loyihalarimiz</a>
              </div>
            </div>
          </div><!--portfolio-grid end-->
        </div><!--portfolio-items-filter end-->
      </div>
    </div><!--portfolio-sec end-->
  </div>
</section>

{% endblock %} 

{% block javascript %}
<script src="{% static 'js/jquery.counterup.js' %}"></script>
<script src="{% static 'js/waypoints.js' %}"></script>
<script>
  $(".counter").counterUp({
    delay: 5,
    time: 1000,
  });
</script>

{% endblock %}
