{% extends 'base.html' %} {% load static %} 
{% block title %} Bosh Sahifa {% endblock %}
{% block content %} 
<!-- <div class="responsive-mobile-menu">
	<a href="#" title="" class="close-menu"><i class="ion-close"></i></a>
	<ul>
		<li><a href="" title="">Asosiy</a>
			<ul>
				<li><a href="index.html" title="">Homepage 1</a></li>
				<li><a href="index2.html" title="">Homepage 2</a></li>
				<li><a href="index3.html" title="">Homepage 3</a></li>
			</ul>
		</li>
		<li><a href="#" title="">Ishlarimiz</a>
			<ul>
				<li><a href="{% url 'works' %}" title="">Work Grid</a></li>
				<li><a href="work-masonary.html" title="">Work Masonary</a></li>
				<li><a href="works-parallax.html" title="">Works Parallax</a></li>
				<li><a href="project-details.html" title="">Project Details</a></li>
			</ul>
		</li>
		<li><a href="#" title="">YAngiliklar</a>
			<ul>
				<li><a href="{% url 'news' %}" title="">News Grid</a></li>
				<li><a href="news-listing.html" title="">News Listing</a></li>
				<li><a href="news-sidebar.html" title="">News Sidebar</a></li>
			</ul>
		</li>
		<li><a href="#" title="">Blog</a>
			<ul>
				<li><a href="single-post.html" title="">Single Post</a>
					<ul>
						<li><a href="single-post-gallery.html" title="">Single Post Gallery</a></li>
					</ul>
				</li>
				<li><a href="single-video.html" title="">Single Video</a></li>
			</ul>
		</li>
		<li><a href="{% url 'about' %}" title="">Biz Haqimizda</a></li>
		<li><a href="{% url 'contact' %}" title="">Aloqa</a></li>
	</ul>
</div> -->

<!--responsive-mobile-menu end-->

<section class="main-slider style2">
  <div class="container">
    <div
      id="rev_slider_476_1_wrapper"
      class="rev_slider_wrapper fullscreen-container"
      data-alias="christmas-snow-scene"
      data-source="gallery"
      style="background-color: transparent; padding: 0px"
    >
      <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
      <div
        id="rev_slider_476_1"
        class="rev_slider"
        style="display: none"
        data-version="5.3.0.2"
      >
        <ul>
          <!-- SLIDE  -->
          <li
            data-index="rs-1648"
            data-transition="fade"
            data-slotamount="default"
            data-hideafterloop="0"
            data-hideslideonmobile="off"
            data-easein="default"
            data-easeout="default"
            data-masterspeed="1000"
            data-thumb="images/slider_banner.jpg"
            data-rotate="0"
            data-saveperformance="off"
            data-title="Slide"
            data-param1=""
            data-param2=""
            data-param3=""
            data-param4=""
            data-param5=""
            data-param6=""
            data-param7=""
            data-param8=""
            data-param9=""
            data-param10=""
            data-description=""
          >
            <!-- MAIN IMAGE -->
            <img
              src="{{banner.image.url}}"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              data-bgparallax=""
              class="rev-slidebg"
              data-no-retina
            />
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div
              class="tp-caption lyr3 tp-resizeme"
              id="slide-1648-layer-1"
              data-x="center"
              data-hoffset="0"
              data-y="center"
              data-voffset="-200"
              data-width="['auto']"
              data-height="['auto']"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[15,15,15,15]"
              data-paddingleft="[0,0,0,0]"
              data-start="200"
              data-splitin="chars"
              data-splitout="none"
              data-elementdelay="0.04"
            >
              {{banner.title|safe}}
              <!-- “ Biz qurgan yaxshi narsalar <br />
              oxir-oqibat bizni quradi ” -->
            </div>

            <!-- LAYER NR. 2 -->
            <!-- LAYER NR. 3 -->
          </li>
        </ul>
      </div>
    </div>
    {% include 'messages.html' %}
    <!--Revolution Slider end-->
    <div class="cntct-info">
      <div class="container">
        <div class="cntct-info-details">
          <div class="our-addrs-info">
            <ul>
              <li>
                Email:
                <strong><a href="mailto:fromzero.uz@gmail.com">fromzero.uz@gmail.com</a></strong>
              </li>
              <li>
                Telefon:
                <strong class="scnd text-white"
                  ><a href="tel:+998 67 236 35 33"
                    >+998 67 236 35 33</a
                  >
                </strong>
              </li>
            </ul>
          </div>
          <!--our-addrs-info end-->
          <div class="soc-links">
            <ul>
              <li>Bizni kuzatib boring:</li>
              <li>
                <a target="_blank" href="https://t.me/fromzero_uz" title=""
                  ><i class="fa fa-telegram"></i
                ></a>
              </li>
              <!-- <li>
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#" title=""><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#" title=""><i class="fa fa-rss"></i></a>
              </li> -->
            </ul>
          </div>
        </div>
        <!--cntct-info-details end-->
      </div>
    </div>
    <!--cntct-info end-->
  </div>
</section>
<!--main-slider end-->

<main>
  <section class="mg-top-minus">
    <div class="container3">
      <div class="block">
        <div class="fixed-bg bg2"></div>
        <div class="why-choose-us">
          <div class="title-sm">
            <h3>Bizni tanlashingizga sabablar</h3>
          </div>
          <!--title-sm end-->
          <div class="our-specifications">
            <div class="row">
              <div class="col-lg-6">
                <div class="spec-hd">
                  <h2>
                    Mijozlarimiz uchun adolatli va bozor raqobatbardosh
                    narxlarda yuqori sifatli qurilish xizmatlarini ko'rsatish.
                  </h2>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="properties">
                  <div class="choosing-que">
                    <h3>Kasbiy javobgarlik</h3>
                    <p>
                      Donec lacinia mi rutrum sagittis consequat. Donec
                      sagittis, tellus sodales sollicitudin commodo
                    </p>
                  </div>
                  <!--choosing-que end-->
                  <div class="choosing-que">
                    <h3>Mijozlarimizga bag'ishlangan</h3>
                    <p>
                      Quisque mollis metus magna, ut <br />accumsan elit
                      hendrerit ac. Lorem ipsum dolor sit amet,
                    </p>
                  </div>
                  <!--choosing-que end-->
                  <div class="choosing-que">
                    <h3>Ajoyib xizmatlar</h3>
                    <p>
                      lacinia mi rutrum sagittis consequat. Donec sagittis,
                      tellus sodales sollicitudin commodo, risus urna interdum
                      massa
                    </p>
                  </div>
                  <!--choosing-que end-->
                </div>
                <!--properties end-->
              </div>
            </div>
          </div>
          <!--our-specifications end-->
        </div>
        <!--why-choose-us end-->
      </div>
    </div>
  </section>

  <section>
    <div class="container3">
      <div class="block">
        <div class="our-projects-counter">
          <ul>
            <li>
              <h2 class="counter">2012</h2>
              <h4>Barpo etilgan yili</h4>
            </li>
            <li>
              <h2 class="counter">11</h2>
              <h4>Loyiha</h4>
            </li>
            <li>
              <h2 class="counter">266</h2>
              <h4>Sotilgan xonadonlar</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


</main>
<section >
  <div class="" id="our_works">
    <div class="portfolio-sec">
      <div  class="title-sm">
        <h2 style="color: white;
        font-weight: bold;">Loyihalar</h2>
      </div>
      <div class="container3">
        <div class="portfolio-items-filter">
  
          <div class="portfolio-grid">
            <div class="row">
              <div class="masonary style2">
                <div class="d-flex flex-wrap">
                  {% for i in our_works %}
                  <a href="{% url 'work_details' pk=i.id %}">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="portfolio-item">
                      <div class="pt-img">
                        <img src="/media/{{i.photo}}" alt="">
                      </div>
                      <div class="item-info">
                        <h3><a href="{% url 'work_details' pk=i.id %}" title="">{{i.title}}</a></h3>
                      </div>
                    </div>
                  </div>
                  </a>
                 
                  
                  {%  endfor %}
                </div>
              </div><!--masonary end-->
              <div class="load-more-items mb-5">
                <a href="{% url 'works' %}" title="">Boshqa loyihalarimiz</a>
              </div>
            </div>
          </div><!--portfolio-grid end-->
        </div><!--portfolio-items-filter end-->
      </div>
    </div><!--portfolio-sec end-->
  </div>
</section>

<section>
  <div class="portfolio-sec">
    <div class="container3">
      <div class="our-info-details">
        <div class="row">
         
          <div class="title-sm">

            <h2 style="font-weight: bold; color: #fff;" >Kompaniya haqida</h2>
          </div>
            <div class="container3">
              <p style="color: #fff;"><span style="color: #ffa800;">♦</span>   From Zero — O‘zbekistonda ko‘chmas mulk qurilishi sohasida faol ish olib boruvchi kompaniya. Faoliyatining asosiy yo‘nalishi ko‘pxonadonli uylar va shunga mos ijtimoiy infratuzilmani o‘z ichiga oluvchi uy-joy loyihalarini rivojlantirishdan iborat. Turar-joy majmualari individual me‘moriy konsepsiya bo‘yicha quriladi va turlicha daromadga ega keng auditoriya uchun mo‘ljallanadi.</p><br>

              <p style="color: #fff;"><span style="color: #ffa800;">♦</span>   Biz developerlar sifatida binoni barpo etish jarayonining barcha bosqichlarida qatnashamiz: ob‘ektni loyihalashtirish, eski binolarni sotib olish, kelgusida ularni buzish va yangilarini qurish, sifatni nazorat qilish, sotish, shuningdek sotilgandan keyingi xizmatlarni ko‘rsatish.</p><br>
              <p style="color: #fff;"><span style="color: #ffa800;">♦</span>   Bunday loyihalar boshqaruvi menejmentga taalluqli bo‘lib, bu kabi mashg‘ulotlar bilan shug‘ullanuvchi insonlar ko‘chmas mulk bozorini juda yaxshi bilishlari va unga diqqatlarini jalb qilgan bo‘lishlari lozim. Sababi faoliyatning bu turida yuqori daraja va sifatga erishish uchun muayyan bilim, malaka va tajriba talab etiladi. Muddatlar, xarajat va bajarilgan ish sifatining eng maqbul mutanosibligiga erishish developerning birinchi darajali vazifasi bo‘lib hisoblanadi.</p><br>
              
              <p style="color: #fff;"><span style="color: #ffa800;">♦</span>   Quruvchilikka bo‘lgan mehr va ishtiyoq orqali birlashgan o‘zishining yosh va g‘ayratli ustalardan iborat yangi menejment jamoasini shakllantirib, biz bundan keyin ham bozor talablariga javob beruvchi yangi loyihalarni faxr bilan rivojlantirib borish uchun qat‘iyatga to‘ldik.
              </p><br>

              <p style="color: #fff;"><span style="color: #ffa800;">♦</span>   Biz o‘zimizni Vatanimizning jonkuyar farzandlari deb bilamiz va uning ravnaqiga o‘z hissamizni qo‘ldan kelganicha qo‘shishga harakat qilib yashaymiz!</p>
              
            </div><!--who-we-are end-->
        </div>
      </div><!--our-info3 end-->
    </div>
  </div>
</section>

<section>
    <div class="title-sm">
      <h2 style="color: #ffffff; font-weight: bold;">Missiya va qadriyatlar</h2>
      </div>
      <div class="container3">
      
      <div class="portfolio-sec">
        <div class="our-features">
          <div class="feature-icon">
            <i class="fa fa-industry" aria-hidden="true"></i>
          </div>
          <!--feature-icon end-->
          <div class="feature-info">
            <h3>Kasbiy missiyamiz</h3>
            <p>
              Albatta, foyda bu har qanday biznes uchun muhim muvaffaqiyat
              omili hisoblanadi. Ammo bundan mustasno bo’lgan, bizni ulkan
              marralar sari yetaklovchi yanada muhimroq maqsadlar bor,
              bular:<br />
  
              - Mamlakatimiz va umuman olamni chiroyli va ko’rkam binolar
              bilan, bog’lar va uylar bilan bezatish; <br />
              - Insonlarni qulay, mustahkam uylar va idoda binolari bilan
              taminlash orqali baxtni yanada ortirish; <br />
              - Atrofimizdagilar bilan o’z professional tajribamiz bilan
              bo’lishish va ularga munosib namuna bo’lish;
            </p>
          </div>
          <!--feature-info end-->
        </div>
        <!--our-features end-->
        <div class="our-features">
          <div class="feature-icon">
            <i class="fa fa-building-o" aria-hidden="true"></i>
          </div>
          <!--feature-icon end-->
          <div class="feature-info">
            <h3>Ijtimoiy missiyamiz</h3>
            <p>
              - Insonlarga hayotda o’z yo’lini topishda ko’maklashish,
              ijtimoiy loyihalarni qo’llab quvatlashga doimo tayyormiz;<br />
              - Insonlarni yanada ko’proq yutiqlarga erishishi
              tarafdorimiz, chunki bizning muvaffaqiyatimiz aynan jamiyat
              muvaffaqiyatiga uzviy bog’likligiga ishonamiz; <br />
              - Ma’rifiy, sog’likni saqlash va boshqa ijtimoiy loyihalarni
              amalga oshirishda ishtiyoq bilan yondashamiz;
            </p>
          </div>
          <!--feature-info end-->
        </div>
        <!--our-features end-->
        <div class="our-features">
          <div class="feature-icon">
            <i class="fa fa-xing" aria-hidden="true"></i>
          </div>
          <!--feature-icon end-->
          <div class="feature-info">
            <h3>Qadriyatlar</h3>
            <p>
              - Adolatli almashinuv – doimiy muvaffaqiyat garovi;<br />
              - Insonlar, siz bilan qanday munosabatda bo’lishini
              xohlasangiz, siz ham ular bilan huddi shunday munosabatda
              bo’ling;<br />
              - Boshqa insonlarning tashvishi bilan yashayotgan shaxs (yoki
              kompaniya), muvaffaqiyatga erishishda boshqalarni nisbatan
              imkoniyatini ko’proq bo’lin, o’ziga eng ijobiy narsalarni
              jalb qiladi;<br>
    - Halol mehnat baxt keltirar; Va boshqa ko’plab
              qadriyatlarga rioya qilishga harakat qilamiz.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>

<section>
  <div class="container3">
  <div class="block d-flex">
    <div class="col-6">
      <div class="contact-form-sec">
        <h3>Savolingiz bormi? Biz bilan bog'laning</h3>
        <p
          class="success alert alert-success"
          id="success"
          style="display: none"
        ></p>
        <p
          class="error alert alert-danger"
          id="error"
          style="display: none"
        ></p>
        <form name="contact_form_3" id="contact_form_3" method="post">
          {% csrf_token %}
          <input type="hidden" name="axn" value="contact_3" />
          <div class="row">
            <div class="col-lg-12">
              <input type="text" required name="name" id="name" placeholder="Ism*" />
            </div>
            <div class="col-lg-12">
              <input type="text" name="email" id="email" placeholder="Elektron pochta(ixtiyoriy)" />
            </div>
            <div class="col-lg-12">
              <input
                type="text"
                name="subject" required
                placeholder="Telefon raqam* +998(__)___-__-__"
              />
            </div>
            <div class="col-lg-12">
              <textarea
                name="description"
                id="description" required
                placeholder="Xabar*"
              ></textarea>
            </div>
            <div class="col-lg-12 text-center">
              <button type="submit" id="submit_3">Yuborish</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-6">
      <iframe
      style="height: 100% !important; width: 100%"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d758.4944707457468!2d68.76609172924795!3d40.497872118526146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b207b88f926fef%3A0x53f39779cb628b0d!2sFrom%20Zero!5e0!3m2!1sru!2s!4v1646744474518!5m2!1sru!2s"
      style="border: 0"
      allowfullscreen="true"
      loading="lazy"
    ></iframe>
    </div>
  </div>
  </div>
</section>

{% endblock %} 

{% block javascript %}
<script>
  setTimeout(function () {
    $("#message").fadeOut("slow");
  }, 3000);
</script>
<script src="{% static 'js/jquery.counterup.js' %}"></script>
<script src="{% static 'js/waypoints.js' %}"></script>
<script>
  $(".counter").counterUp({
    delay: 5,
    time: 1000,
  });
</script>

{% endblock %}
