{% extends 'base.html' %}
{% load static %}
{% block content %}

		
		<section>
			<div class="block no-padding">
				<div class="banner-section">
					<img style="object-fit: cover; height: 100vh;" src="/media/{{project.photo}}" alt="">
					<h2>{{project.title}}</h2>
				</div><!--banner-section end-->
			</div>
		</section>



		<main>
			<div class="page-details-main">
				<section>
					<div class="container">
						<div class="location-details bfr">
							<h2 class="post-title size2">{{project.title}}</h2>
							<p></p>
						</div><!--location-details end-->
						<div class="house-info">
							<ul>
								<li>
									<strong>Manzil</strong>
									<span>{{project.address}}</span>
								</li>
								<li>
									<strong>Maydoni</strong>
									<span>{{project.size}} m²</span>
								</li>
								<li>
									<strong>Qavat</strong>
									<span>{{project.floor}} qavat</span>
								</li>
							</ul>
						</div><!--house-info end-->
						<div class="location-details">
							<h2 class="post-title">Ma'lumot</h2>
							<p style="word-wrap: break-word;">{{project.description}}</p>
						</div><!--location-details end-->
					</div>
				</section>


				<section>
					<div class="house-imgs-slides">
						<div class="house-slider">
							{% for i in images %}
							<div class="house-slide">
								<img style="height: 75vh; object-fit: cover;" src="/media/{{i.photo}}" alt="">
							</div>
							{% endfor %}
							
						</div>
					</div>
					<div class="col-lg-12 text-center">
						<a style="color: #000000;
						font-size: 14px;
						font-weight: 600;
						text-transform: capitalize;
						background-color: #ffa800;
						padding: 15px 35px;
						border: 0;
						cursor: pointer;" href="/media/{{project.pdf}}">Batafsil</a>
					</div>
					
				</section>

				

			</div><!--page-details-main end-->

			<section>
				<div class="pgr-controls">
					<div class="container">
						<a href="#" class="ta-left"><span class="lnr lnr-arrow-left"></span>UMI Complex Private Residence</a>
						<a href="#" class="ta-right">MME Consulting Office<span class="lnr lnr-arrow-right"></span></a>
					</div>
				</div><!--pgr-controls end-->
			</section>

		</main>





{% endblock %}

