<footer>
    <div class="footer-data">
        <div class="container">
            <div class="ft-contact-info">
                <h6>BIZ BILAN BOG'LANING</h6>
                <h1>hello@kons.co</h1>
                <h3>Sirdaryo viloyati, Guliston shahar, Sayhun ko'chasi 3A</h3>
                <h3> +998-(67)-226-3533</h3>
            </div><!--ft-contact-info end-->
            <div class="social-copyright">
                <ul>
                    <li><a href="#" title="">Twitter</a></li>
                    <li><a href="#" title="">Facebook</a></li>
                    <li><a href="#" title="">Behance</a></li>
                    <li><a href="#" title="">Dribbble</a></li>
                </ul>
                <div class="copyright-text">
                    <p>© Xizmatlar litsenziyalangan</p>
                </div>
            </div><!--social-copyright end-->
        </div>
    </div><!--footer-data end-->
</footer>