<footer>
    <div class="footer-data">
        <div class="container">
            <div class="ft-contact-info">
                <h6>KELING BIRGA ISHLAYLIK</h6>
                <h1>hello@kons.co</h1>
                <h3>11 Broadway, 17th Floor . New York, NY 10004</h3>
                <h3>(+035) 527-1710-70</h3>
            </div><!--ft-contact-info end-->
            <div class="social-copyright">
                <ul>
                    <li><a href="#" title="">Twitter</a></li>
                    <li><a href="#" title="">Facebook</a></li>
                    <li><a href="#" title="">Behance</a></li>
                    <li><a href="#" title="">Dribbble</a></li>
                </ul>
                <div class="copyright-text">
                    <p>© 2017 Kons. All Right Reserved</p>
                </div>
            </div><!--social-copyright end-->
        </div>
    </div><!--footer-data end-->
</footer>