<header class="pb stick">
  <div class="hd_bar">
    <div style="margin: 0 10%;" class="">
      <div class="header-bar">
        <div class="logo">
          <a href="\" title=""
            ><img style="width: 74px" src="/static/images/logo.png" alt=""
          /></a>
        </div>
        <!--logo end-->
        <nav>
          <ul>
            <li>
              <a class="{{home}}" href="\" title=""
                >Bosh sahifa</a
              >
            </li>
            <li>
              <a class="{{about_company}}" href="{% url 'about_company' %}" title="">Kompaniya Haqida</a>
              <ul>
                <li>
                  <a class="{{a_company}}" href="{% url 'about_company' %}" title=""
                    >Kompaniya Haqida</a
                  >
                </li>
                <li>
                  <a class="{{mission}}" href="{% url 'mission' %}" title=""
                    >Missiya va qadriyatlar</a
                  >
                </li>
                <li>
                  <a class="{{why}}"  href="{% url 'about' %}" title="">Nega aynan From Zero</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="{{works}}" href="#our_works" title=""
                >Loyihalar</a
              >
              <ul>
                {% for i in projects %}
                <li>
                  <a href="{% url 'work_details' i.id %}" title=""
                    >{{i.title}}</a
                  > 
                </li>
                {% endfor %}
              </ul>
            </li>

            <li>
              <a class="" href="" title="">Xizmatlar</a>
              <ul>
                <li>
                  <a class="" href="" title=""
                    >Gazablok</a
                  >
                </li>
                <li>
                  <a class="" href="" title=""
                    >Kran</a
                  >
                </li>
                <li>
                  <a class=""  href="" title="">Beton nasos</a>
                </li>
                <li>
                  <a class=""  href="" title="">Yo'l qurilish</a>
                </li>
                <li>
                  <a class=""  href="" title="">Beton yetkazib berish</a>
                </li>
                <li>
                  <a class=""  href="" title="">Umum quirilish</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="{{contact}}" href="{% url 'contact' %}" title=""
                >Aloqa uchun</a
              >
            </li>
            <li style="margin-right:auto;">
              <a href="tel:+998672363533" title=""
                >+998 67 236 35 33</a
              >
            </li>
          </ul>
        </nav>
        <!--nav end-->
        <div class="mobile-menu-btn">
          <a href="#" title="" class="open-menu"><i class="fa fa-bars"></i></a>
        </div>
        <!--mobile-menu-btn end-->

        <div class="select-language">
          <ul>
            <li class="active"><a href="#" title="">Uz</a></li>
            <li><a href="#" title="">En</a></li>
          </ul>
        </div>

        <!--select-language end-->
      </div>
      <!--header-bar end-->
    </div>
  </div>
  <!--hd_bar end-->
</header>
