<header class="pb stick">
    <div class="hd_bar">
        <div class="container">
            <div class="header-bar">
                <div class="logo">
                    <a href="#" title=""><img src="images/logo.png" alt=""></a>
                </div><!--logo end-->
                <nav>
                    <ul>
                        <li><a href="\" title="">Asosiy</a>
                            <!-- <ul>
                                <li><a href="index.html" title="">Homepage 1</a></li>
                                <li><a href="index2.html" title="">Homepage 2</a></li>
                                <li><a href="index3.html" title="">Homepage 3</a></li>
                            </ul> -->
                        </li>
                        <li><a class="{{works}}" href="{% url 'works' %}" title="">Ishlarimiz</a>
                            <!-- <ul>
                                <li><a href="" title="">Work Grid</a></li>
                                <li><a href="work-masonary.html" title="">Work Masonary</a></li>
                                <li><a href="works-parallax.html" title="">Works Parallax</a></li>
                                <li><a href="project-details.html" title="">Project Details</a></li>
                            </ul> -->
                        </li>
                        <li><a class="{{news}}" href="{% url 'news' %}" title="">Yangiliklar</a>
                            <!-- <ul>
                                <li><a href="{% url 'news' %}" title="">News Grid</a></li>
                                <li><a href="news-listing.html" title="">News Listing</a></li>
                                <li><a href="news-sidebar.html" title="">News Sidebar</a></li>
                            </ul> -->
                        </li>
                        <!-- <li><a href="#" title="">Blog</a>
                            <ul>
                                <li><a href="single-post.html" title="">Single Post</a>
                                    <ul>
                                        <li><a href="single-post-gallery.html" title="">Single Post Gallery</a></li>
                                    </ul>
                                </li>
                                <li><a href="single-video.html" title="">Single Video</a></li>
                            </ul>
                        </li> -->
                        <li><a class="{{about}}" href="{% url 'about' %}" title="">Biz Haqimizda</a></li>
                        <li><a class="{{contact}}" href="{% url 'contact' %}" title="">Aloqa</a></li>
                    </ul>
                </nav><!--nav end-->
                <div class="mobile-menu-btn">
                    <a href="#" title="" class="open-menu"><i class="fa fa-bars"></i></a>
                </div><!--mobile-menu-btn end-->
                <div class="select-language">
                    <!-- <ul>
                        <li class="active"><a href="#" title="">Eng</a></li>
                        <li><a href="#" title="">Fra</a></li>
                    </ul> -->
                </div><!--select-language end-->
            </div><!--header-bar end-->
        </div>
    </div><!--hd_bar end-->
</header>